.App {
  display: grid;
  height: 100vh;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20vw;
}
